---

---

<section class="hero">
  <article>
    <h2 class="hero-text">
      <span class="first-part">Todos los eventos tecnológicos</span>
      <span class="second-part">{' '}en un mismo lugar.</span>
    </h2>
  </article>
  <article>
    <img
      src="/hero_image.svg"
      alt="Ilustración donde podemos ver un dibujo de una mujer sentada en el suelo con las piernas cruzadas y su portátil encima. También se ve una bombilla como si se le hubiera ocurrido una idea ingeniosa."
      class="hero-image"
      loading="eager"
    />
  </article>
</section>

<style>
  .hero {
    @apply container mx-auto mt-px flex flex-col-reverse items-center px-4 pb-10 pt-5 text-left md:grid md:grid-cols-2 md:px-8;

    .hero-text {
      @apply text-pretty text-left text-5xl font-extrabold leading-10 tracking-tight sm:leading-none;

      .first-part {
        @apply inline bg-gradient-to-br from-primary to-secondary-foreground bg-clip-text text-transparent md:block md:pb-1;
      }

      .second-part {
        @apply relative text-black dark:text-white md:inline-block;
      }
    }

    .hero-image {
      @apply h-72 w-full object-cover lg:h-[500px];
    }
  }
</style>
