---
import { Heading } from '@ui/components/common/typography/heading.component'
import { Event } from '../../../domain/event'
import EventCard from '../event-card/event-card.astro'
interface Props {
  title: string
  events: Event[]
  id?: string
}

const { title, events, id } = Astro.props
---

<section id={id} class="events-horizontal-list">
  <header class="header">
    <Heading className="list-title">{title}</Heading>
    <slot name="action" />
  </header>
  <ul class="event-list">
    {
      events.map(event => (
        <li class="event-item">
          <EventCard event={event} />
        </li>
      ))
    }
  </ul>
</section>

<style>
  .events-horizontal-list {
    @apply my-2 md:my-4;
  }

  .header {
    @apply mr-2 flex items-center justify-between md:mr-4 lg:mr-8;
  }

  .list-title {
    @apply ml-4 lg:ml-8;
  }

  .event-list {
    @apply relative mt-2 flex w-full snap-x gap-6 overflow-x-auto px-4 py-4 lg:px-8;

    .event-item {
      @apply w-[80%] shrink-0 snap-center md:max-w-md;
    }
  }
</style>
