---
import type { Event } from '@event/server/domain/event'
import { Heading } from '@ui/components/common/typography/heading.component'
import EventCard from '../event-card/event-card.astro'

interface Props {
  title: string
  events: Array<Event>
}
const { events, title } = Astro.props
---

<article>
  <header class="header">
    <Heading as="h1">{title}</Heading>
    <slot name="action" />
  </header>
  <ul class="event-grid">
    {
      events.map(event => (
        <li>
          <EventCard event={event} />
        </li>
      ))
    }
  </ul>
</article>

<style>
  .header {
    @apply flex items-center justify-between;
  }
  .event-grid {
    @apply grid list-none grid-cols-[repeat(auto-fill,minmax(340px,1fr))] gap-4 p-0 py-4 lg:py-8;
  }
</style>
