---
import BaseHead from '@/shared/ui/components/layout/base-head.astro'
import Footer from '@/shared/ui/components/layout/footer.astro'
import Header from '@/shared/ui/components/layout/header.astro'
import '@ui/styles/globals.css'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <Header transition:persist />
    <main>
      <slot />
    </main>
    <Footer />

    <style>
      body {
        @apply flex flex-col;
      }
      main {
        @apply flex-1;
      }
    </style>
  </body>
</html>
